@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'KiwiMaru-Light';
    src: url("../../public/fonts/KiwiMaru-Light.ttf");
}

@font-face {
    font-family: 'KiwiMaru-Medium';
    src: url("../../public/fonts/KiwiMaru-Medium.ttf");
}

@font-face {
    font-family: 'KiwiMaru-Regular';
    src: url("../../public/fonts/KiwiMaru-Regular.ttf");
}

@layer components {
    .lights {
        @apply bg-black fixed h-[250vh] w-[40vw] transition-all duration-[800ms] z-10 from-black from-95% to-primary;
    }
}