@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'KiwiMaru-Light';
    src: url("../../public/fonts/KiwiMaru-Light.ttf");
}

@font-face {
    font-family: 'KiwiMaru-Medium';
    src: url("../../public/fonts/KiwiMaru-Medium.ttf");
}

@font-face {
    font-family: 'KiwiMaru-Regular';
    src: url("../../public/fonts/KiwiMaru-Regular.ttf");
}

@layer components {
    .landing_nav {
        @apply w-full fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col justify-center items-center text-secondary font-kiwi_light bg-primary text-center transition-all duration-1000;
    }
    .focus_nav {
        @apply w-full text-secondary fixed top-0 px-8 py-5 font-kiwi_light flex justify-between items-center bg-primary text-center z-20 transition-all duration-1000;
    }
    .lights {
        @apply bg-black fixed h-[200vh] w-[40vw] -top-36 transition-all duration-1000 z-10;
    }
}